* {
  margin: 0%;
  padding: 0%;
  max-width: 100vw;
}

html,
body {
  overflow-x: hidden;
  font-family: Helvetica, Arial, sans-serif;
}

.navbar {
  text-align: center;
  width: 100%;
  position: relative;
  bottom: 0vw;
  font-family: helvetica;
  text-transform: uppercase;
  font-size: 0.8vw;
  border-bottom: 0.1vw solid white;
}

.navbar.scrolled {
  background: rgba(0, 0, 0, 0.719);
  position: fixed;
  bottom: 91vh;
  z-index: 9;
  border-bottom: 0.01vw solid rgba(255, 255, 255, 0.479);
  font-size: 0.7vw;
  width: 100%;
}

.navbarlogo > a > img {
  width: 7vw;
}

.navbarlogo {
  margin: 0vw;
  align-items: center;
  position: relative;
  display: inline-block;
  width: 100%;
}

.navbar > ul > li > a img {
  width: 6.5vw;
  margin: 0vw;
  vertical-align: middle;
  align-items: center;
  position: relative;
}

.navbar > ul > li,
.navbar > ul > li a,
.navbar > ul > li {
  display: inline;
  text-decoration: none;
  position: relative;
  color: white;
  letter-spacing: 0.1vw;
}

.shopnav {
  display: inline;
  position: relative;
  right: 40vw;
  top: 2.4vw;
  z-index: 1;
}

.shopnav > a {
  background-color: rgba(255, 255, 255, 0.103);
  border: 0.1vw solid white;
  padding: 1vw 4vw 1vw 4vw;
  border-radius: 1vw;
}

.rightli {
  position: relative;
  left: 33vw;
  bottom: 2.4vw;
}

.rightside,
.rightside > ul > li {
  display: inline-block;
  position: relative;
}

.rightside > ul > li > a {
  padding: 2vw;
}

/****** MAIN */

/****** first */

.main > img {
  width: 100vw;
  position: relative;
  bottom: 7vw;
  z-index: -1;
}

.border,
.bordertwo {
  width: 50%;
  background-color: white;
  padding: 0.1px;
  position: relative;
  align-items: center;
  display: inline-block;
}

.twntyoff {
  position: relative;
  bottom: 77vw;
  color: white;
  font-family: helvetica;
  text-transform: uppercase;
  font-size: 2.4vw;
  align-items: center;
  margin: 0%;
  text-align: center;
  display: inline-block;
  letter-spacing: 1vw;
  width: 100%;
}

.twntyoff > p {
  align-items: center;
  margin-top: 1vw;
}

/**** button index */

.buttonindex {
  top: 55vw;
  position: relative;
  display: flex;
  align-items: center;
  font-size: 1vw;
  justify-content: center;
  letter-spacing: 0.2vw;
}

.buttonwomen > a,
.buttonmen > a {
  background-color: rgba(0, 0, 0, 0.24);
  padding: 1vw 7vw 1vw 7vw;
  width: 50%;
  border-radius: 1vw;
  border: 0.1vw solid white;
  text-decoration: none;
  color: white;
}

.buttonwomen + .buttonmen {
  margin-left: 20vw;
}

/**** shop now */

.shopnow {
  position: relative;
  bottom: 11vw;
  display: flex;
  cursor: pointer;
}

.shopnow {
  flex: 1vw;
}

.shopnowimg {
  flex: 2;
  width: 20%;
}

.shopnowimg > img {
  width: 88%;
}

.shopnowtext {
  position: relative;
  top: 5vw;
  left: 4.4vw;
  font-size: 4.4vw;
  flex: 1;
  font-family: Helvetica;
  font-weight: lighter;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  -webkit-text-stroke-width: 1.1px;
  color: rgb(80, 80, 80);
}

.line {
  padding: 0.01vw;
  position: relative;
  right: 4vw;
  bottom: 4.4vw;
  width: 77%;
  background-color: rgb(83, 83, 83);
}

.linetwo {
  padding: 0.01vw;
  position: relative;
  right: 4vw;
  top: 11vw;
  width: 77%;
  background-color: rgb(83, 83, 83);
}

.shopnowtext > .fas {
  -webkit-text-stroke-width: 19px;
  font-size: 11vw;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  margin-bottom: 7vw;
  margin-left: 5vw;
}

/** footer extra */

.welcome {
  font-family: Courier, monospace;
  width: 30vw;
  text-align: center;
  margin: 0 auto;
  bottom: 8.8vw;
  position: relative;
}

.footersymbols {
  font-size: 4.4vw;
  color: white;
  -webkit-text-stroke-width: 1.1px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
  display: flex;
  margin: 0 auto;
  text-align: center;
  width: 88%;
  position: relative;
  top: 10vw;
}

.symbolsbox {
  flex: 1;
}

.symbolsbox > p {
  font-family: "roboto";
  color: black;
  font-weight: lighter;
  -webkit-text-stroke-width: 0.03vw;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  font-size: 1.5vw;
  margin-top: 5.5vw;
}

.footerline {
  width: 77%;
  padding: 0.01vw;
  background-color: rgba(83, 83, 83, 0.596);
  margin: 0 auto;
  position: relative;
  bottom: 4vw;
}

.footers {
  padding-top: 30vw;
}

/**** footer */

footer {
  width: 100%;
  background-color: #424242;
  padding-top: 1vw;
  margin-top: 20vw;
  color: white;
}

.flexfooter {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  line-height: 4vw;
  flex-direction: row;
  align-items: flex-start;
}

.logofooter > img {
  width: 11vw;
}

.contact {
  flex: 1;
  display: inline-block;
  margin-top: 4.4vw;
  line-height: 3.3vw;
  font-family: "Courier New", Courier, monospace;
}

.logofooter {
  flex: 1;
  margin-top: 4.4vw;
}

.cursor {
  cursor: pointer;
}

.sitemap {
  flex: 1;
  text-transform: uppercase;
  line-height: 4.4vw;
  font-size: 1vw;
  letter-spacing: 0.1vw;
  font-weight: lighter;
  font-family: "helvetica neue";
}

.margin {
  margin-top: 2.2vw;
}

.sitemap > ul > li,
.sitemap > ul > li > a {
  display: block;
  text-decoration: none;
  color: white;
}

.fixedenvelope {
  background-color: #00000069;
  border: 0.1vw solid white;
  color: white;
  padding: 1.1vw;
  font-size: 2.2vw;
  border-radius: 50%;
  position: fixed;
  display: inline-block;
  right: 1vw;
  bottom: 1vw;
  text-decoration: none;
  cursor: pointer;
}

.fixedenvelope.stop {
  bottom: 10vw;
  position: relative;
  background-color: #000000;
  border: 0.1vw solid white;
  color: white;
  padding: 1.1vw;
  font-size: 2.2vw;
  border-radius: 50%;
  position: fixed;
  display: inline-block;
  right: 1vw;
  bottom: 25vw;
  text-decoration: none;
}
